/* Index Page */

body {
    background-color: floralwhite;
    font-family: cursive, sans-serif;
}

/* Title */

.title {
    margin: 8px;
    text-align: center;
    padding: 8px;
    font-size: 48px;
    color: green;

}

.title h1 {
    margin: 0px;
}

.title h2 {
    color: black;
    font-size: 24px;
    margin: auto;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

/* Index Lists */

ol {
    list-style-type: none;
    padding-left: 0px;
    padding: 8px;
    margin: 8px;
}


ol li a {
    color: black;
    list-style: none;
    display: block;
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 8px;
    margin: 8px;
    border-bottom: 2px green dotted;
    font-size: 24px;

    ;
}

ol li a:hover {
    color: green;
    padding: 9px;
}




.img {
    max-width: 100%;
    max-height: auto;
    border: 2px solid #ccc;
    box-shadow: 2px;
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
